@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
  background: #eee;
  text-align: center;
}

h2 {
  font-family: 'Righteous', cursive;
  text-decoration: underline;
}
// #pie{

// width:800px;
//  height:500px;

// }