
.admin-h-section-1{
height: fit-content;
background: url('../../../assets/images/background-admin.jpg');
background-size: cover;
color: white;
display: flex;
flex-direction: column;
}

.admin-m-icon-profile {
display: flex;
}

.admin-h-section-2 {
display: flex;
justify-content: center;
height: calc(100vh - 3em);
align-items: center;
flex-direction: column;
}

////// panel ayuda////////////////////
.chat{
width: 30em; 
height: 11.5em;    
background-color: rgba(255, 255, 255, 0);
border-radius: 0.5em;
//padding: 1em 1.5em;
display: flex;
align-items: center;
justify-content: center;
color: black;
font-size: 1.2em;
margin-top: 2em;
border-radius: 0.5em;
}
.chat-block{
background-color: rgb(255, 255, 255);

}

.help {
height: 2em;
width: 100%;
max-width: 7em;
display: flex;
padding: 1em;
background-color: #00718A;
color: rgb(255, 255, 255);
align-items: center;
justify-content: center;
border-radius: 0.5em;
}
.chat-hide{
display: none;
opacity: 0;
transition: opacity 0.5s;
}

.chat-see{
display:block;
opacity: 1;
transition: opacity 0.5s;
border-radius: 0.5em;
position: absolute;
}

.support-max{
width: 9em;
height: auto;   
border-radius: 0.5em;
}

.chat-conversation-one-inside {
display: flex;
align-items: center;
padding: 1em 1.5em;
background-color: white;
border-radius: 0.5em 0.5em 0em 0em;
}
.chat-conversation-inside-text {
padding: 0em 1em ;
width: 19em;
}

.underline_menu{
border: 10px solid red;
border-radius: 3.5em;
}

.admin-m-icon-profile {
display: flex;
padding: 0em 1em;
}

///////////barra de carga verde///////////
.myProgress {
position: relative;
width: 100%;
height: 30px;
background-color: #ddd;
border-radius: 0em 0em 0.5em 0.5em;
}
.myBar-10 {
position: absolute;
width: 10%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0em 0.5em;
}
.myBar-20 {
position: absolute;
width: 20%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0em 0.5em;
}
.myBar-40 {
position: absolute;
width: 40%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0em 0.5em;
}
.myBar-60 {
position: absolute;
width: 60%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0em 0.5em;
}
.myBar-80 {
position: absolute;
width: 80%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0em 0.5em;
}
.myBar-100 {
position: absolute;
width: 100%;
height: 100%;
background-color: #05ce0b;
border-radius: 0em 0em 0.5em 0.5em;
}

.label-loading-home-admin {
text-align: center;
line-height: 30px;
color: white;
border-radius: 0em 0em 0.5em 0.5em;
}

#chat-tour p{
font-size: 0.9em;;
}