// .login-section-1{
// height: calc(100vh - 6.9em);
// justify-content: center;
// align-items: center;
// background: url('../../assets/images/background-3.png');
// display: flex;
// background-size: cover;
// }

.super-admin-h-section-1{
height: fit-content;
background: url('../../assets/images/background-admin.jpg');
background-size: cover;
color: white;
display: flex;
flex-direction: column;

}
.admin-m-icon-profile {
display: flex;
}

.admin-h-section-2 {
    display: flex;
    justify-content: center;
    height: calc(100vh - 3em);
    align-items: center;
}
.apexcharts-tooltip.apexcharts-theme-light.apexcharts-active {
    color: black;
}
.bar-chart {
    background: transparent
      linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
    //min-height: 535px
  }
  .bar-chart-architects {
    background: transparent
      linear-gradient(62deg, #007025 0%, #18863d 53%, rgb(81, 175, 112)  100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
    //min-height: 535px
  }
  

  .super-admin-container-info {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

//
.super-admin-panel-comunity-in-spain {
  width: 100%;
  
}
.super-admin-h-section-2 {
  padding: 8em;
}



// parche se desmonta comunidad autonoma
.bar-chart > div:nth-child(1){ 
width: 100%!important;
max-width: 1200px!important;
}
.bar-chart > div > svg{ 
  width: 100%!important;
  max-width: 1200px!important;
  }
  //fin parche
  .super-admin-container-info-s1 {
    display: flex;
    justify-content: space-between;
}
.super-admin-container-info-s1-p{
width: 100%;
max-width: 550px;
}